<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We could put all the info here</h2>
                <hr class="light">
                <p class="text-faded">All the teachers and workshops and times</p>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2233.6059631539656!2d-3.1589887875599434!3d55.95620117619433!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4887b86eb150070f%3A0x6955a8c9b9a10cc5!2sMeadowbank%20Sports%20Centre!5e0!3m2!1sen!2suk!4v1712334890624!5m2!1sen!2suk" width="300" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</section>
