<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Hello and welcome!</h2>
                <hr class="light">

                <p class="text-faded"; align="left">
                    I am so excited to bring you the first Edinburgh Acro Festival! There has not been an acrobatics convention in Scotland since before the pandemic, so it is very exciting to welcome acrobats back to Scotland after a long break. The dream is to breathe fresh life into the Scottish acrobatics scene by putting on an event accessible to everyone, especially those of us in Scotland who usually have to travel far for such events. This event is also an opportunity to showcase some local Scottish acrobatic talent and you can look forward to workshops from a lineup of teachers who predominantly Scottish or based in Scotland.</p>
                </p>
                <p class="text-faded"; align="left">
                    There is no specific timetable as of yet, keep your eyes peeled on social media closer to the date for that. The plan is to offer 8 taught workshops over the three days with a choice of three or four workshops (attendance dependent) at each timetabled workshop slot. There will be at least one beginner workshop running throughout to ensure that even those without a strong acrobatic practice feel welcome at all times. There will also be timetabled jams at the end of each day as well as warm up and cool down workshops should you not wish to warm yourself up or do not feel like jamming.
                </p>
                <p class="text-faded"; align="left">
                    All practice of acrobatics involves some risk. We will do everything we can to make sure the training is as safe as possible. You should follow the instructions given by coaches/experienced acrobats and always make sure to ask if something is not clear or comfortable for you. By being clear about what is expected of our participants, we intend to establish a safe environment. 
                </p>
                <hr class="light">

                <h3 class="section-heading"; align="left">
                    The Venue
                </h3>
                <p class="text-faded"; align="left">
                    All three days will be in the same place in Meadowbank Sports Centre,  London Rd, Edinburgh EH7 6AE
                </p>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2233.6059631539656!2d-3.1589887875599434!3d55.95620117619433!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4887b86eb150070f%3A0x6955a8c9b9a10cc5!2sMeadowbank%20Sports%20Centre!5e0!3m2!1sen!2suk!4v1712334890624!5m2!1sen!2suk" width="300" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                <hr class="light">
                <h3 class="section-heading"; align="left">
                    Date and times
                </h3>
                <p class="text-faded"; align="left">
                    Friday 1pm - 7pm
                </p>
                <p class="text-faded"; align="left">
                    Saturday 10am - 7pm
                </p>
                <p class="text-faded"; align="left">
                    Sunday 10am - 6pm
                </p>
                <hr class="light">
                <h3 class="section-heading"; align="left">
                    Catering
                </h3>
                <p class="text-faded"; align="left">

                    The event will not be catered, but there is a large Sainsbury's and Lidl a short walk away.
                    The venue has its own cafeteria and there are also a variety of cafes and restaurants surrounding the venue.
                    There will be a 1h15 lunch break on Saturday and Sunday.
                </p>
                <hr class="light">
                <h3 class="section-heading"; align="left">
                    Ticket Prices
                </h3>
                <p class="text-faded"; align="left">
                Tickets cost £150. Payments will be made to a self-employed account held by Eric Munday (me, the organiser helloooo). Once you have completed the <a href="https://docs.google.com/forms/d/e/1FAIpQLSd9rMc84tZwXGaCM-5lnRkXRfCIvRT3vTfFL0A5T5EU2HnSxw/formResponse?pli=1" class="text-faded">Google Form</a>, an email will be sent to you containing payment information.
                </p>

            </div>
        </div>
    </div>
</section>
