<section class="no-padding" id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Teachers</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.instagram.com/craigdag?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw== " class="portfolio-box">
                    <img src="img/portfolio/1.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Craig Dagostino
                            </div>
                            <div class="project-name">
                                Craig is a Scottish acrobat who trained at the National Centre for Circus Arts in London. He now performs and coaches partner and group acrobatics in the UK and Europe. Craig has recently got many acrobats hooked on chess and can often be found on Chess.com.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.instagram.com/collisben?igsh=MTI5eHl1MzU4NWRzNQ==" class="portfolio-box">
                    <img src="img/portfolio/2.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Ben Collis
                            </div>
                            <div class="project-name">
                                Ben is a Scottish circus artist based in Sweden. He is mostly doing partner acrobatics and perch pole, and he also has a range of unusual skills including hanging from his teeth.

                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.instagram.com/p/C8rnr6kMV9G/?igsh=YXUzZ3Z0cWxtNzZn" class="portfolio-box">
                    <img src="img/portfolio/9.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Jakub & Helena
                            </div>
                            <div class="project-name">
                                Jakub and Helena are performers and acro teachers. Their background comes from studying Nonverbal theatre at Uni. Right after, they started creating comedy shows full of acrobatics and wild stories under the name The Kitten of Doom. They like standing acro, h2h and the misuse of acro for comedy purposes.

                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.instagram.com/formafortis?igsh=MXJueXlxOWVubWh6eA==" class="portfolio-box">
                    <img src="img/portfolio/10.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Forma Fortis
                            </div>
                            <div class="project-name">
                                Marion started as a gymnast and Alex as a weightlifter. They met at a sports center in Munich and dedicated their physical activities to partner acrobatics. After 10 intensive years of performances they founded an acrobatics group, and contributed to acrobatics communities with shows and teaching in the UK and Germany. Their latest big project was explaining quantum computing with acrobatics.

                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.instagram.com/lauren.jamieson?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw== " class="portfolio-box">
                    <img src="img/portfolio/3.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Lauren Jamieson
                            </div>
                            <div class="project-name">
                                Lauren is a Scottish aerialist and acrobat who creates contemporary performance art that showcases the beauty and joy of raw human movement. She has taught and performed for 14 years in the UK, USA and Aotearoa New Zealand, performing for Paper Doll Militia, Feathers of Daedalus Circus, The Dust Palace, Garsington Opera, Autin Dance Theatre and Ockham's Razor.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.instagram.com/adamscircus?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw== " class="portfolio-box">
                    <img src="img/portfolio/4.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Adam Wright
                            </div>
                            <div class="project-name">
                                Adam Wright is a Scottish, neurodivergent, queer circus artist. Their multifaceted knowledge of circus arts has brought them to distant shores and they've worked with too many wonderful people and companies to name. They're as flexible as their use of pronouns and their talent is unique.

                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.instagram.com/acroianfraser?igsh=MTJtaTZ0aXEyaTN1MA==" class="portfolio-box">
                    <img src="img/portfolio/6.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Ian Fraser and Danuta Ramos
                            </div>
                            <div class="project-name">
                                Two of the early pioneers of the Scottish Circus Scene, Danuta Ramos and Ian Fraser have taught and performed together worldwide since 2006. Danuta initially trained as a dance artist which srongly influenced Ian and Danuta's early acro and doubles aerial style, which was largely based on contact improvisation techniques.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.instagram.com/p/C7UYF1TMcX9/?igsh=cm5xNzE0MTlocmM=" class="portfolio-box">
                    <img src="img/portfolio/7.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Camilla Nytun and Scarlot Robinson
                            </div>
                            <div class="project-name">
                                Camilla and Scarlot are certified Partner Acrobatics teachers. They will be teaching multi-level L-base flows, Icarians and Whips.

                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.instagram.com/zinniao.circusart?igsh=OHB4bXg2ZjNsdW84" class="portfolio-box">
                    <img src="img/portfolio/8.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Zinnia Oberski
                            </div>
                            <div class="project-name">
                                Performer and maker Zinnia Oberski has an extensive movement background, predominantly in circus. She graduated in 2016 from ACaPA (Netherlands) with static trapeze and now focuses on handstand, partner acrobatics, dance and physical threatre.

                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.instagram.com/acrobatkate?igsh=MmxleWt1MXNrY2h2" class="portfolio-box">
                    <img src="img/portfolio/12.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Kate McWilliam
                            </div>
                            <div class="project-name">
                                Scottish acrobat Kate originally trained as a professional dancer. Kate has been coaching for almost twenty years and runs her own school. Kate is particularly interested in being involved in work that explores crossovers between multiple art forms.

                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.instagram.com/oraya.circusduo?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw== " class="portfolio-box">
                    <img src="img/portfolio/5.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Oran Longmuir and Saya Yamaguchi
                            </div>
                            <div class="project-name">
                                Oran (he/they) and Saya (she/her) are Edinburgh based circus artists. They have been working together as an acrobatic and aerial duo since 2017 and have performed at a wide variety of events including arts festivals, pride events, cabarets, live music gigs, film projects and corporate functions. Oran's passion is lifting Saya and Saya's passion is climbing on Oran.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <hr class="primary">
                <h2 class="section-heading">Photographer</h2>
                <hr class="primary">
                <p>
                    We will be having local photographer Jacob attending the event all weekend. They will be snapping away capturing your best and most memorable moments, so if you spot them, be sure to smile and wave!
                </p>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.instagram.com/jacobforsythdavies?igsh=eHhwdHV0bmo4NXpk" class="portfolio-box">
                    <img src="img/portfolio/11.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Jacob Forsyth-Davies
                            </div>
                            <div class="project-name">
                                Hi! My name is Jacob, I am a professional event and wedding photographer, as well as a fire performer and acrobat, and will be capturing the weekend, looking forward to meeting you all!
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
