<section class="no-padding" id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Teachers</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row no-gutter">

            <div class="col-lg-4 col-sm-6">
                <a href="https://www.instagram.com/oraya.circusduo?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw== " class="portfolio-box">
                    <img src="img/portfolio/5.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Oran Longmuir and Saya Yamaguchi
                            </div>
                            <div class="project-name">
                                Oran and Saya are Edinburgh based circus artists. They have been working together as an acrobatic and aerial duo since 2017 and  have performed at a wide variety of events including arts festivals, pride events, cabarets, live music gigs, film projects and corporate functions. Oran (he/they) has a dance background while Saya (she/her) began as an aerialist. Oran's passion is lifting Saya and Saya's passion is climbing on Oran.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
