<section class="no-padding" id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Teachers</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.instagram.com/craigdag?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw== " class="portfolio-box">
                    <img src="img/portfolio/1.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Craig Dagostino
                            </div>
                            <div class="project-name">
                                Craig is a Scottish acrobat who trained at the National Centre for Circus Arts in London. He now performs and coaches partner and group acrobatics in the UK and Europe. Craig has recently got many acrobats hooked on chess and can often be found on Chess.com.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.instagram.com/lauren.jamieson?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw== " class="portfolio-box">
                    <img src="img/portfolio/3.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Lauren Jamieson
                            </div>
                            <div class="project-name">
                                Lauren is a Scottish aerialist and acrobat who creates contemporary performance art that showcases the beauty and joy of raw human movement. She has taught and performed for 14 years in the UK, USA and Aotearoa New Zealand, performing for Paper Doll Militia, Feathers of Daedalus Circus, The Dust Palace, Garsington Opera, Autin Dance Theatre and Ockham's Razor.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.instagram.com/adamscircus?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw== " class="portfolio-box">
                    <img src="img/portfolio/4.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Adam Wright
                            </div>
                            <div class="project-name">
                                Adam Wright is a Scottish, neurodivergent, queer circus artist. Their multifaceted knowledge of circus arts has brought them to distant shores and they've worked with too many wonderful people and companies to name. They're as flexible as their use of pronouns and their talent is unique.

                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.instagram.com/acroianfraser?igsh=MTJtaTZ0aXEyaTN1MA==" class="portfolio-box">
                    <img src="img/portfolio/6.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Ian Fraser and Danuta Ramos
                            </div>
                            <div class="project-name">
                                Two of the early pioneers of the Scottish Circus Scene, Danuta Ramos and Ian Fraser have taught and performed together worldwide since 2006. Danuta initially trained as a dance artist which srongly influenced Ian and Danuta's early acro and doubles aerial style, which was largely based on contact improvisation techniques.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.instagram.com/oraya.circusduo?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw== " class="portfolio-box">
                    <img src="img/portfolio/5.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Oran Longmuir and Saya Yamaguchi
                            </div>
                            <div class="project-name">
                                Oran (he/they) and Saya (she/her) are Edinburgh based circus artists. They have been working together as an acrobatic and aerial duo since 2017 and have performed at a wide variety of events including arts festivals, pride events, cabarets, live music gigs, film projects and corporate functions. Oran's passion is lifting Saya and Saya's passion is climbing on Oran.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
