<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Overview</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-list wow bounceIn text-primary"></i>
                    <h3>8 workshops</h3>
                    <p class="text-muted">8 taught workshops + timetabled jams, warm ups and cool downs.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-university wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>3 or 4 workshops in parallel</h3>
                    <p class="text-muted">A choice of three or four workshops (attendance dependent) at each timetabled workshop slot.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-gbp wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>£150</h3>
                    <p class="text-muted">You will receive payment information after completing the Google Form.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>All levels welcome!</h3>
                    <p class="text-muted">There will be appropriate workshops for each level at each time slot. Beginners are very welcome!</p>
                </div>
            </div>
        </div>
    </div>
</section>
